

<p>Cargar archivo de empleados</p>
<form asp-action="CargarArchivo" asp-controller="File" method="post" enctype="multipart/form-data">
    <input type="file" name="archivo" />
    <button type="submit">Cargar archivo</button>
</form>
