@model Contrato
<div class="text-center">
<h1 class="display-4">CONTRATOS</h1>
</div>

<main class="mt-2 container text-center">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar por tipo de contrato" id="searchInput">
        <div class="input-group-append">
            <button class="btn btn-warning" type="button" id="searchButton">Buscar</button>
        </div>
    </div>
    <table id="tabla_contratos" class="table table-responsive table-bordered table-striped table-primary table-hover" id="contractsTable">
        <thead class="table-dark">
            <tr>
                <th>Cedula</th>
                <th>Nombre Empleado</th>
                <th>Tipo Contrato</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Cargo</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @foreach (Contrato contrato in ViewBag.Contratos)
            {
                <tr>
                    <td>@contrato.FechaInicio</td>
                    <td>@contrato.FechaFin</td>
                    <td>@contrato.Cargo</td>
                </tr>
            }
        </tbody>
    </table>
</main>

<script>
    //busca pero por medio de tipo de contrato
    document.getElementById("searchButton").addEventListener("click", function () {
        var input = document.getElementById("searchInput").value.toLowerCase();
        var table = document.getElementById("contractsTable");
        var rows = table.getElementsByTagName("tr");

        for (var i = 0; i < rows.length; i++) {
            var rowData = rows[i].textContent.toLowerCase();

            if (rowData.indexOf(input) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    });
</script>

@section Scripts {
    <script>
        $("#tabla_contratos").DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
            },
            "responsive": true,
            "dom": 'Bfrtip',
            initComplete: function () {
                
                // Clonet thead on tfoot datatable
                $("#tabla_contratos thead tr").clone().appendTo($("#tabla_contratos tfoot"));
            },
        });
    </script>
}
